@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(187, 20, 20);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  background: linear-gradient(135deg, #0a0000 0%, #3b0000 50%, #660000 100%);
  background-attachment: fixed;
}

h1 {
  font-family: "Cinzel", serif;
  font-size: 3rem;
  color: #f0e6d2;
  text-shadow: 2px 2px 4px #00000080;
  margin-bottom: 20px;
  text-align: center;
}

#board {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  width: 95vw;
  max-width: 95vw;
  max-height: calc(100vh - 40px);
}

.child {
  width: 100%;
  aspect-ratio: 3/4;
  border-radius: 5px;
  border: 2px solid black;
  cursor: pointer;
  box-shadow: 2px 2px 5px #00000050;
  height: clamp(130px, 15vh, 170px);
  transition: transform 0.5s;
  transform-style: preserve-3d;
  position: relative;
  height: 95%;
}

.child.flipped {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  backface-visibility: hidden;
}

.front {
  background-image: url("images/logoBerserk.jpeg");
  background-size: cover;
  background-position: center;
}

.back {
  transform: rotateY(180deg);
  background-size: cover;
  background-position: center;
}

.matched {
  border: 3px solid yellow;
}

.win-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  background: rgba(0, 0, 0, 0.85);
  color: gold;
  font-family: "Cinzel", serif;
  font-size: 2rem;
  padding: 30px 50px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 20px gold;
  opacity: 0;
  transition: all 0.5s ease;
  z-index: 999;
}

.win-message.show {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
